// Base...
@import "base/normalize.scss";

// Partials
@import "./variables";
@import "./utility";
@import "./mixins";

// Components...

// Containers...
@import "./containers/Login.scss";

// Include all Fonts

// Main Styles
@import url("https://use.typekit.net/zme3hye.css");

body,
html {
  height: 100%;
  font-family: fieldwork, sans-serif !important;
  font-weight: 400 !important;
  font-style: normal;
  button {
    font-family: fieldwork, sans-serif !important;
    font-weight: 600 !important;
    font-style: normal;
  }

  .hero-image {
    background-image: url("/assets/BG.svg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
  }
}
